@charset "UTF-8";
html {
  font-size: 10px;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 5px;
  }
}

body {
  color: #333;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 900px;
  background-color: #eee;
  margin: 5rem auto;
  padding: 4rem 0;
}

/* !見出し */
.heading {
  font-size: 3.6rem;
  font-weight: bold;
  margin-bottom: 4rem;
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 5.6rem;
  }
}

/* !計算ツール */
.form {
  margin: 0 auto 20px;
  width: 90%;
  max-width: 500px;
}

.form_outer {
  margin-bottom: 40px;
}

.form__list-item {
  margin-bottom: 20px;
}

.form__label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .form__label {
    font-size: 16px;
  }
}

.form__input {
  border: 1px solid #333;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}

.form__select {
  border: 1px solid #333;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}

.form__button {
  border: 1px solid #333;
  font-size: 16px;
  -webkit-box-shadow: 3px 5px #000;
          box-shadow: 3px 5px #000;
}

.form__button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.disabled-year, .disabled-date {
  cursor: auto;
}

.result {
  font-weight: bold;
  font-size: 24px;
}

.result_part {
  font-size: 30px;
}

/* !使用不可日表 */
.table-content {
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
  border: 1px solid #333;
  border-bottom: none;
  border-spacing: 0;
}

.table-row:nth-child(odd) .table-month,
.table-row:nth-child(odd) .table-days {
  background-color: #fff;
}

.table-heading, .table-year, .table-month, .table-days {
  border-bottom: 1px solid #333;
}

.table-heading {
  font-size: 16px;
  padding: 10px 0;
  background-color: #fff;
}

.table-year {
  font-weight: bold;
  border-right: 1px solid #333;
}

.table-month {
  border-right: 1px solid #333;
}

.table-days {
  padding: 5px 0;
}
